
<header>
  <img src="/bloktech/static">
  <h1>select a hobby or skill you want to share with someone</h1>
</header>

<main>

<form>
  <input type="checkbox" id="guitar">Guitar</input>
  <input type="checkbox" id="cooking">Cooking</input>
  <input type="checkbox" id="gaming">Gaming</input>
  <input type="checkbox" id="knitting">Knitting</input>
  <input type="checkbox" id="painting">Painting</input>
  <input type="submit"></input>
</form>

</main>

<footer>
</footer>

