
<header>
  <h1>your matches</h1>
</header>

<main>
  
<div id="image-container"></div>
<p id="gekozen-data"></p>
<p id="user1-name"></p>
<p id="user1-age"></p>


<script src="matched.js"></script>
<div id="weather"></div>

</main>

<footer>
</footer>
