
<header>

  <img src="logo.png" class="logoRest" width="200" height="150">
   <a href="/"><img src="left.png" class="backButton"></a>
  
  <h1>Your matches</h1>
  <p id="javascript-disabled">sorry your matches can't be found</p>

</header>



<main >

  <div id="selectedImagesContainer"></div>

</main>



<footer id="onlyFooter">

  <p>Look at the weather to see if you can go outside!</p>

  <a href="/weather">
  <button id="weatherButton">go</button>
  <script src="matched.js"></script>

</footer>
