<header>
    <a href="/matched" >
        <img src="left.png" class="backButton" >
    </a>
    <img src="logo.png" class="logoRest" width="200" height="150">
</header>

<main>
    <!-- source img= https://www.hiclipart.com/free-transparent-background-png-clipart-fmbsi-->
    <img src="" id="weatherIcon">
    <div id="weather"></div>  
    

<script src="weather.js"></script>
</main>

<footer>
</footer>