
* {
    font-family: "bakemono-variable",sans-serif;
    margin:0;
  }

/* width */
::-webkit-scrollbar {
  width: 1.25em;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3125em grey; 
  border-radius: 0.625em;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:white; 
  border-radius: 0.625em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}

body{ 
  background-color: #DCCAED;
}



h1{
    display: flex;
    justify-content: center;
    font-size: 2em;
    text-align: center;
    margin: auto;
    padding-bottom:1em;
    width: 10em;
}

.bg{
  background: url("../static/404background.jpeg");
  background-repeat: no-repeat;
}

label{
  font-size: 2em;
}

input{
  width: 2em;
  height:2em;
  border:1em;
}

.nxtLink{
  display: flex;
  justify-content: center;
  padding-top: 2em;
  text-decoration: none;
}

.nextBtn {
  background: #7A4988;
  color: #fff;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition-duration: 0.4s;
}

.nextBtn:hover {
  background: #fff;
  box-shadow: 0px 2px 20px 10px #97B1BF;
  color: #000;
}

.nxtBtn {
  display: flex;
  justify-content: center;
}

#image-container{
  display: flex;
  flex-direction: column;
  grid-gap: 1em;
  height: 25em;
  width: 25em;
  margin-top: 3em;
}

#weather{
  display: flex
}

.backButton{
  width: 3em;
  height: 3em;
  float:left;
  padding: 1em;
}

.weatherButton{
  font-weight: bold;
}

.logo1st{
  padding-top:2em;
  margin-left:7em;
}

.logoRest{
  padding-top:2em;
  margin-left:2em;
}

#onlyFooter{
   background-color:white;
   margin:0;
}

#weather{
  background-color: white;
  padding:1em;
  border-radius: 0.5em;
  font-weight: bold;
  font-size: 2em;
  display: flex;
  justify-content: center;
}

.alles {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin:auto;
  background: white;
  padding:1em;
  border-radius: 1.5em;
  width:18em;
}

input[type="checkbox"]{
  appearance: none;
  width: 80px;
  height: 40px;
  border-radius: 40px;
  background: #ddd;
  position: relative;
  outline: 0;
  cursor: pointer;
}

input[type="checkbox"]:before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background:#7A4988;
  border-radius: 40px;
  transform-origin: 50% 50%;
  transform: scale(0);
  transition: all .35s;
}

input[type="checkbox"]:after{
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  background: #eee;
  border-radius: 50%;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  transition: all .35s;
}

input[type="checkbox"]:checked:before{
 transform: scale(1);
}

input[type="checkbox"]:checked:after{
 left: calc(100% - 37px);
}