
* {
    font-family: "bakemono-variable",sans-serif;
  }

body{ 
  background-color: #DCCAED;
}

h1{
    font-size: 3em;
    text-align: center;
    margin: top 1em, ;
}

.bg{
  background: url("../static/404background.jpeg");
  background-repeat: no-repeat;
}

label{
  font-size: 2em;
}
